.header-admin{
  background-color: #E20043;
  border-bottom: 1px solid #ddd;
  padding: 0;
  margin-bottom: 0px;
  &__logo{
    border-right: 2px solid #0057B8;
    width: 240px;
    height: 100%;
    padding: 10px;
  }
  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
  }
  &__menu{
    padding: 10px;
    ul{
      display: flex;
      align-items: center;
      justify-items: center;
      li{
        list-style-type: none;
        display: flex;
        flex: 1;
        font-weight: 500;
        font-size: 24px;
        color: white;
      }
    }
    .menu_chats{
      margin-right: 30px;
    }
    .menu_notificatons{
      margin-right: 30px;
      position: relative;
      .icon-notification{
        color: #0057B8;
        font-weight: 600;
      }
      .count-notification{
        color: #0057B8;
        font-weight: 600;
        font-size: 16px;
        position: absolute;
        top: -5px;
        left: 20px;
      }
    }
  }
}
.item-notification{
  display: flex;
  align-items: center;

  span{
    margin-right: 30px;
  }

  .dot{
  padding: 2px;
  background-color: red;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  margin-right: 10px;
}

}

.ant-dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}