.filter{
  .group{
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  &__quantitybeds{
   
    &__action{
      display: flex;
      input{
        width: 50px;
      }
      
    }
  }
}