.header{
  background-color: #0932A0;
  position: relative;
  margin-bottom: 50px;
  &__top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
    &__logo{
      a{
        font-size:30px;
        text-decoration: none;
        font-weight: 700;
        color: white;
      }
    }
    &__menu{

      ul{
        list-style: none;
        display:flex;
        align-items: center;
        .user-log{
          display:inline-block;
          padding: 5px 5px 10px 10px;
          background-color: white;
          align-items: center;
          justify-items: center;
          border-radius: 8px;
          a{
            color: #0932A0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-items: center;
          }
        }
        li{
          margin-right: 20px;
          a{
            text-decoration: none;
            color: white;
            font-size: 18px;
            font-weight: 600;
          }
        }
      }
    }
  }
  &__bottom{
    padding:20px 0 20px 0;
    display: flex;
    flex-direction: column;
    &__content{
      h1{
        font-size: 40px;
      }
      margin-bottom: 40px;
    }
    &__search{
      background-color: #F5AC0E;
      position: absolute;
      bottom: -20px;
      width: 80%;
      display: flex;
      padding: 5px;
      &__input{
        width: 30%;
        position: relative;
        input{
          width: 100%;
          padding: 15px 10px 15px 40px;
          border: none;
          border-radius: 5px;
          font-size: 18px;
        }
        .search-icon{
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
          color: black;
          font-size: 20px;
        }
        &__data {
          position: absolute;
          bottom: -105px;
          background-color: white;
          width: 350px;
          border: 1px solid #F5AC0E;
          max-height: 100px;
          overflow-y: auto;
          scrollbar-width: thin;
      
          ul {
            list-style: none;
            padding-left: 5px;
            margin: 0; // Bỏ margin mặc định của ul
            padding: 0; // Bỏ padding mặc định của ul
      
            li {
              color: black;
              border-bottom: 1px solid #F5AC0E;
              cursor: pointer;
              padding: 8px; // Thêm padding để dễ click
              transition: background-color 0.2s;
      
              &:hover {
                background-color: #F5AC0E;
                color: white;
              }
            }
          }
      }
    }
      &__timeline{
        margin-left: 5px;
        width:30%;
        div{
          width: 100%;
          padding: 6.8px;
        }
      }
      &__quantity{
        width: 25%;
        margin-left: 5px;
        input{
          width: 100%;
          padding: 15px 10px 15px 10px;
          border: none;
          border-radius: 5px;
          font-size: 18px;
        }
      }
      &__button{
        width: 20%;
        margin-left: 25px;
        button{
          width: 100%;
          padding: 15px;
          border: none;
          border-radius: 5px;
          font-size: 18px;
          background-color: #0932A0;
          color: white;
          cursor: pointer;
          font-weight: 600;
        }
      }
    }
    
  }
  
}